.StatLayout {
  width: 375px;
  height: 812px;
  background-color: rgb(255, 245, 232);
}

.cal {
  margin-top: 60px;
  margin-left: 20px;
}
.cal:hover {
  cursor: pointer;
}

.sUser {
  margin-left: 280px;
}
.sUser:hover {
  cursor: pointer;
}
